.swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s, opacity 0.5s;
  transform-origin: center center;
  z-index: 1;

}

.swiper-slide img {
  max-width: 100%;
  border-radius: 10px;
}

.swiper-slide-active img {
  transform: scale(1.2);
  z-index: 10;
}

.swiper-slide:not(.swiper-slide-active) img {
  transform: scale(0.9);
  opacity: 0.8;
}

/* Neighboring slides */
.swiper-slide-next,
.swiper-slide-prev {
  transform: scale(0.9) translateX(-20);
  z-index: 5;
  /* Behind the active slide */
}

/* Hide further slides */
.swiper-slide-next,
.swiper-slide-prev {
  transform: scale(0.8);
  z-index: 1;
  opacity: 0.5;
  /* Dim further slides for better effect */
}






/* .slider {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider-image {
    width: 20%;
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0.5;
    transform: scale(0.8);
  }
  
  .slider-image.active {
    transform: scale(1.2);
    opacity: 1;
  }
  
  .slider-image.left,
  .slider-image.right {
    transform: translateX(-10%) scale(1);
    opacity: 0.8;
  }
  
  .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
  }
  
  .slider-btn.prev {
    left: 10px;
  }
  
  .slider-btn.next {
    right: 10px;
  }
   */