{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BILIM Courses</title>
  {% include 'core/static_files/links.html'%}
</head>
<body>
{% include "core/hero.html" with content="Accept or decline courses" image_path="core/images/course.webp"%}
   
<section id="popular-courses" style="width: 100vw;">
    <div class="wrapper-card">
        <h1 style="font-size: 2.5rem; font-weight: normal; text-align: center; margin: 2rem 0;" >Videos pending to accept or decline</h1>
        <div class="cols-card">
            {% for video in all_videos %}
            <div class="col-card" ontouchstart="this.classList.toggle('hover');">
                    <div class="container-card">
                        <div class="front">
                            <img src="{{video.poster.url}}" alt="Python Course">
                            <div class="inner">
                                <p>{{video.title|truncatewords:6}}</p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>{{video.description|truncatewords:10}}</p>
                                <a href="{% url "auth:admin_video" video.id %}"><button class="btn downloader rounded-3">View Course</button></a>
                            </div>
                        </div>
                    </div>
              </div>
              {% empty %}
              <div class='w-100 text-center text'>
                <h3 class='text-danger'>No courses are pending </h3>
              </div>
              {% endfor %}
          </div>
      </div>
  </section>
  {% include "core/footer.html"%}
  {% include "core/static_files/scripts.html"%}
</body>

</html>