{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BILIM Courses</title>
  {% include 'core/static_files/links.html'%}

  
</head>
<body>
{% include "core/hero.html" with content="Find your own course" image_path="core/images/course.webp"%}
  
<div class="">
  <div class="h4 text-center mb-3 fs-4" data-aos="fade-left" data-aos-duration="1500">
      Pending videos to add
  </div>
  <div class="popular_images mx-auto" style="width: 80%;">
      <div class="row mx-auto mb-3 courses">
          {% for video in all_videos %}
              <a class="" href="{% url "auth:admin_video" video.id %}" data-aos="zoom-out" data-aos-duration="2000">
                  <div class="pb-4 mx-auto">
                      <div class="image-wrapper">
                          <img class="img-fluid hover-img" src="{{ video.poster.url }}" alt="">
                          <div class="hover-text">
                              <p>{{ video.title }}</p>
                              <p class="p-1">{{ video.description|truncatewords:20 }}</p>
                          </div>
                      </div>
                  </div>
              </a>
          {% empty %}
              <!-- Message when there are no videos -->
              <div class="d-flex justify-content-center align-items-center" style="height: 300px;">
                  <h1 class="text-danger text-center">There are no videos pending to add</h1>
              </div>
          {% endfor %}
      </div>
  </div>
</div>

  {% include "core/footer.html"%}
  {% include "core/static_files/scripts.html"%}
</body>

</html>