{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BILIM Applications</title>
  {% include "core/static_files/links.html"%}
</head>

<body>
  {% include "core/hero.html" with content="Applications Form" image_path="core/images/report.webp" %}
<!-- Textarea -->

<div class=" justify-content-center align-items-center text-center" >
    <div class="fs-1">Teklipler we arzalar</div>
    <div> <textarea style="width: 90vw; font-size: larger;" class="ps-3 rounded-3" name="" id="" cols="" rows="15" placeholder="Teklipleriňizi we arzalaryňyzy giriziň"></textarea></div>
</div>
<div style="width: 92vw;" class=" mt-3 text-end justify-content-end">
    <div class="btn btn-secondary hover-effect px-5 text-white">Ugrat</div>
</div>
{% include "core/static_files/scripts.html"%}
</body>

</html>