{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BILIM Users</title>
{% include 'core/static_files/links.html'%}
  
</head>

<body>
  {% include "core/hero.html" with content="All users of Bilim" image_path="core/images/lorembook.webp"%}
  
<!-- Textarea -->
<div class="d-flex align-items-end mx-auto justify-content-between" style="width: 25vw;">
    <div class="">
        <img src="{% static 'core/images/lorembook.webp'%}" alt="" style="width: 10vw ;">
    </div>
    <div>
        <img src="{% static 'core/images/lorembook.webp'%}" alt="" style="width: 10vw ;">
    </div>
</div>
<div class=" text-center mx-auto" style="width: 90vw;">
    <hr class="p-3">
</div>

<div class="" style="width: 95vw;">
    <!--Poisk-->
  <div class="container-fluid">
    <div class="d-flex flex-column flex-lg-row justify-content-end align-items-start align-items-lg-center py-2 px-3 ">
        <!-- Поле поиска -->
        <div class="position-relative me-0 mb-3 mb-lg-0 me-lg-3">
            <input type="text" class="form-control pe-5 rounded-4 expand-input fs-4" placeholder="Search..." style="border: 1px solid #8F92DD;">
            <span class="position-absolute top-50 translate-middle-y end-0 me-2" style="color: #8F92DD;"></span>
        </div>
        <!-- Dropdown Category -->
        <div class="dropdown me-3 mb-3 mb-lg-0">
            <button class="btn btn-secondary border-0 dropdown-toggle rounded-4 fs-4" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #8F92DD; color: white; width: 150px;">
                Category
            </button>
            <ul class="dropdown-menu rounded-4" aria-labelledby="dropdownMenuButton1" style="border: 1px solid #8F92DD;">
                <li><a class="dropdown-item rounded-2" href="#">A-z</a></li>
                <li><a class="dropdown-item rounded-2" href="#">z-a</a></li>
                <li><a class="dropdown-item rounded-2" href="#">Aktiw</a></li>
                <li><a class="dropdown-item rounded-2" href="#">Aktiw dal</a></li>
            </ul>
        </div>
        <!-- Dropdown Filter -->
        <div class="dropdown ">
            <button class="btn btn-secondary border-0 dropdown-toggle rounded-4 fs-4 " type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #8F92DD; color: white; width: 100px;">
                Filter
            </button>
            <ul class="dropdown-menu rounded-4" aria-labelledby="dropdownMenuButton2" style="border: 1px solid #8F92DD;">
                <li><a class="dropdown-item rounded-2" href="#">A-z</a></li>
                <li><a class="dropdown-item rounded-2" href="#">z-a</a></li>
                <li><a class="dropdown-item rounded-2" href="#">Aktiw</a></li>
                <li><a class="dropdown-item rounded-2" href="#">Aktiw dal</a></li>
            </ul>
        </div>
    </div>
</div>
</div>

<div class="mx-auto text-center fs-1 mb-3">
    Users  
</div>
<div class="mx-auto" data-aos="fade-up" data-aos-duration="10000"  style="width: 90vw;">
    <div class="row users_row  mx-auto">
        <div class="col-lg-4 mt-2 d-flex align-items-center">
            <div class="  mx-auto text-center shadow" >
                <img class=" w-100" src="{% static 'core/images/lorembook.webp'%}" alt="" >
                <div class=" h5  pt-2 fw-medium align-items-start text-center " style="color: #1C59A1;">Student: Gayrat Serdarow</div>
                <div class=" pb-4 text-small  fw-medium align-items-start text-center ">UI dizayner hunarini owrenyar</div>
            </div>
        </div>

        <div class="col-4 mt-2 d-flex align-items-center">
            <div class="  mx-auto text-center shadow" >
                <img class=" w-100" src="{% static 'core/images/lorembook.webp'%}" alt="" >
                <div class=" h5  pt-2 fw-medium align-items-start text-center " style="color: #1C59A1;">Student: Gayrat Serdarow</div>
                <div class=" pb-4 text-small  fw-medium align-items-start text-center ">UI dizayner hunarini owrenyar</div>
            </div>
        </div>

        <div class="col-4 mt-2 d-flex align-items-center">
            <div class="  mx-auto text-center shadow" >
                <img class=" w-100" src="{% static 'core/images/lorembook.webp'%}" alt="" >
                <div class=" h5  pt-2 fw-medium align-items-start text-center " style="color: #1C59A1;">Student: Gayrat Serdarow</div>
                <div class=" pb-4 text-small  fw-medium align-items-start text-center ">UI dizayner hunarini owrenyar</div>
            </div>
        </div>
    </div>

  <div class="row  mx-auto mt-5">
        <div class="col-4 mt-2 d-flex align-items-center">
            <div class="  mx-auto text-center shadow" >
                <img class=" w-100" src="{% static 'core/images/lorembook.webp'%}" alt="" >
                <div class=" h5  pt-2 fw-medium align-items-start text-center " style="color: #1C59A1;">Student: Gayrat Serdarow</div>
                <div class=" pb-4 text-small  fw-medium align-items-start text-center ">UI dizayner hunarini owrenyar</div>
            </div>
        </div>

        <div class="col-4 mt-2 d-flex align-items-center">
            <div class="  mx-auto text-center shadow" >
                <img class=" w-100" src="{% static 'core/images/lorembook.webp'%}" alt="" >
                <div class=" h5  pt-2 fw-medium align-items-start text-center " style="color: #1C59A1;">Student: Gayrat Serdarow</div>
                <div class=" pb-4 text-small  fw-medium align-items-start text-center ">UI dizayner hunarini owrenyar</div>
            </div>
        </div>

        <div class="col-4 mt-2 d-flex align-items-center">
            <div class="  mx-auto text-center shadow" >
                <img class=" w-100" src="{% static 'core/images/lorembook.webp'%}" alt="" >
                <div class=" h5  pt-2 fw-medium align-items-start text-center " style="color: #1C59A1;">Student: Gayrat Serdarow</div>
                <div class=" pb-4 text-small  fw-medium align-items-start text-center ">UI dizayner hunarini owrenyar</div>
            </div>
        </div>
    </div>

</div>
    <div class="row  mx-auto mt-5" style="width: 90%;">
        <div class="col-4 mt-2 d-flex align-items-center">
            <div class="  mx-auto text-center shadow" >
                <img class="w-100 " src="{% static 'core/images/lorembook.webp'%}" alt="" >
                <div class=" h5  pt-2 fw-medium align-items-start text-center " style="color: #1C59A1;">Student: Gayrat Serdarow</div>
                <div class=" pb-4 text-small  fw-medium align-items-start text-center ">UI dizayner hunarini owrenyar</div>
            </div>
        </div>

        <div class="col-4 mt-2 d-flex align-items-center">
            <div class="  mx-auto text-center shadow" >
                <img class="w-100 " src="{% static 'core/images/lorembook.webp'%}" alt="" >
                <div class=" h5  pt-2 fw-medium align-items-start text-center " style="color: #1C59A1;">Student: Gayrat Serdarow</div>
                <div class=" pb-4 text-small  fw-medium align-items-start text-center ">UI dizayner hunarini owrenyar</div>
            </div>
        </div>

        <div class="col-4 mt-2 d-flex align-items-center">
            <div class="  mx-auto text-center shadow" >
                <img class="w-100 " src="{% static 'core/images/lorembook.webp'%}" alt="" >
                <div class=" h5  pt-2 fw-medium align-items-start text-center " style="color: #1C59A1;">Student: Gayrat Serdarow</div>
                <div class=" pb-4 text-small  fw-medium align-items-start text-center ">UI dizayner hunarini owrenyar</div>
            </div>
        </div>
    </div>
{% include "core/static_files/scripts.html"%}
</body>

</html>