{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bilim Book-details</title>
  {% include 'core/static_files/links.html'%}
  </head>
<body>
  {% include 'core/hero.html' with content="Book details" image_path="core/images/library.png"%}
 <div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100" style="max-width: 1200px;">
      <!-- Левая колонка: картинка -->
      <div class="col-md-6">
        <img 
    src="{% static 'core/images/lorembook.webp' %}" 
    class="custom-image" 
    alt="Пример картинки">

      </div>
      <!-- Правая колонка: заголовки и текст -->
      <div class="col-md-6">
        <div class="d-flex flex-column justify-content-between h-100">
          <div>
            <h1 class='text-center'>Ux mind seter Book</h1> 
            <h6 class="text-center p-3">(25 Customer reviews)</h6>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste voluptatum, autem ipsa atque, perferendis odit accusantium nostrum, magnam excepturi cumque molestiae officiis! Numquam iusto vel soluta et consequatur quo ab.Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aliquam, earum laboriosam atque, totam excepturi accusamus vel, odit magni sapiente illum architecto magnam. Quasi obcaecati, tenetur libero nobis expedita quaerat.</p>
          </div>
          <div>
            <h5 class="mb-5"><b>Category:</b> Crux Indoor Fast and Easy</h5>
            <a class="btn downloader mt-2 mx-auto rounded-2">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "core/footer.html" %}
  {% include 'core/static_files/scripts.html'%}
</body>

</html>