{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bilim Book-details</title>
  {% include 'core/static_files/links.html'%}
  </head>
<body>
  {% include 'core/hero.html' with content="Book details" image_path="core/images/library.png"%}
 <div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100" style="max-width: 1200px;">
      <!-- Левая колонка: картинка -->
      <div class="col-md-6">
        <img 
    src="{{book.book_poster.url}}" 
    class="custom-image" 
    alt="Пример картинки">

      </div>
      <!-- Правая колонка: заголовки и текст -->
      <div class="col-md-6">
        <div class="d-flex flex-column justify-content-between h-100">
          <div>
            <h1 class='text-center'>{{book.name}} </h1> 
            <h6 class="text-center p-3">({{book.views}} Customer reviews)</h6>
            <p style="text-align: justify;">{{book.description}} </p>
          </div>
          <div>
            <h5 class="mb-5"><b>Category:</b>{{book.category}} </h5>
            <a href="{{book.book_file.url}}" download class="btn btn-primary downloader mt-0 rounded-3">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "core/footer.html" %}
  {% include 'core/static_files/scripts.html'%}
</body>

</html>