{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BILIM Courses</title>
  {% include 'core/static_files/links.html'%}
</head>
<body>
{% include "core/hero.html" with content="Find your own course" image_path="core/images/course.webp"%}
  <!--Poisk-->
  <div class="container-fluid">
    <div class="d-flex flex-column flex-lg-row justify-content-end align-items-start align-items-lg-center py-2 px-3 ">
        <!-- Поле поиска -->
        <div class="position-relative me-0 mb-3 mb-lg-0 me-lg-3">
            <input type="text" class="form-control pe-5 rounded-4 expand-input fs-4" placeholder="Search..." style="border: 1px solid #8F92DD;">
            <span class="position-absolute top-50 translate-middle-y end-0 me-2" style="color: #8F92DD;"></span>
        </div>
        <!-- Dropdown Category -->
        <div class="dropdown me-3 mb-3 mb-lg-0">
            <button class="btn btn-secondary border-0 dropdown-toggle rounded-4 fs-4" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #8F92DD; color: white; width: 150px;">
                Category
            </button>
            <ul class="dropdown-menu rounded-4" aria-labelledby="dropdownMenuButton1" style="border: 1px solid #8F92DD;">
                <li><a class="dropdown-item rounded-2" href="#">A-z</a></li>
                <li><a class="dropdown-item rounded-2" href="#">z-a</a></li>
                <li><a class="dropdown-item rounded-2" href="#">Aktiw</a></li>
                <li><a class="dropdown-item rounded-2" href="#">Aktiw dal</a></li>
            </ul>
        </div>
        <!-- Dropdown Filter -->
        <div class="dropdown ">
            <button class="btn btn-secondary border-0 dropdown-toggle rounded-4 fs-4 " type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #8F92DD; color: white; width: 100px;">
                Filter
            </button>
            <ul class="dropdown-menu rounded-4" aria-labelledby="dropdownMenuButton2" style="border: 1px solid #8F92DD;">
                <li><a class="dropdown-item rounded-2" href="#">A-z</a></li>
                <li><a class="dropdown-item rounded-2" href="#">z-a</a></li>
                <li><a class="dropdown-item rounded-2" href="#">Aktiw</a></li>
                <li><a class="dropdown-item rounded-2" href="#">Aktiw dal</a></li>
            </ul>
        </div>
    </div>
</div>
  
  <div class="">
    <div class="h4 text-center mb-3" style="font-size: 4vw; color:black;" data-aos="fade-left" data-aos-duration="1500" >UI Dizayner Kurslary</div>
    <div class="popular_images mx-auto" style="width: 90vw;">
      <div class=" row mx-auto mb-3">
        <a class="col-4 humanity-container" href="{% url 'videos:video_of_course'%}" data-aos="zoom-out" data-aos-duration='2000'>
          <div class=" pb-4 mx-auto" style="width: 25vw;">
            <div class="image-wrapper">
              <img class="img-fluid hover-img" src="{% static 'core/images/pop_course1.webp'%}" alt="">
              <div class="hover-text">Python</div>
            </div>
          </div>
        </a>
        <a class="col-4 humanity-container" href="{% url 'videos:video_of_course'%}" data-aos="zoom-out" data-aos-duration="2000">
          <div class=" pb-4 mx-auto" style="width: 25vw;">
            <div class="image-wrapper">
              <img class="img-fluid hover-img" src="{% static 'core/images/pop_course1.webp'%}" alt="">
              <div class="hover-text">Python</div>
            </div>
          </div>
        </a>
        <a class="col-4 humanity-container" href="{% url 'videos:video_of_course'%}" data-aos="zoom-out" data-aos-duration="2000">
          <div class=" pb-4 mx-auto" style="width: 25vw;">
            <div class="image-wrapper">
              <img class="img-fluid hover-img" src="{% static 'core/images/pop_course1.webp'%}" alt="">
              <div class="hover-text">Python</div>
            </div>
          </div>
        </a>
        <a class="col-4 humanity-container" href="{% url 'videos:video_of_course'%}" data-aos="zoom-out" data-aos-duration="2000">
          <div class=" pb-4 mx-auto" style="width: 25vw;">
            <div class="image-wrapper">
              <img class="img-fluid hover-img" src="{% static 'core/images/pop_course1.webp'%}" alt="">
              <div class="hover-text">Python</div>
            </div>
          </div>
        </a>
        <a class="col-4 humanity-container" href="{% url 'videos:video_of_course'%}" data-aos="zoom-out" data-aos-duration="2000">
          <div class=" pb-4 mx-auto" style="width: 25vw;">
            <div class="image-wrapper">
              <img class="img-fluid hover-img" src="{% static 'core/images/pop_course1.webp'%}" alt="">
              <div class="hover-text">Python</div>
            </div>
          </div>
        </a>
        <a class="col-4 humanity-container" href="{% url 'videos:video_of_course'%}" data-aos="zoom-out" data-aos-duration="2000">
          <div class=" pb-4 mx-auto" style="width: 25vw;">
            <div class="image-wrapper">
              <img class="img-fluid hover-img" src="{% static 'core/images/pop_course1.webp'%}" alt="">
              <div class="hover-text">Python</div>
            </div>
          </div>
        </a>
        <a class="col-4 humanity-container" href="{% url 'videos:video_of_course'%}" data-aos="zoom-out" data-aos-duration="2000">
          <div class=" pb-4 mx-auto" style="width: 25vw;">
            <div class="image-wrapper">
              <img class="img-fluid hover-img" src="{% static 'core/images/pop_course1.webp'%}" alt="">
              <div class="hover-text">Python</div>
            </div>
          </div>
        </a>
        <a class="col-4 humanity-container" href="{% url 'videos:video_of_course'%}" data-aos="zoom-out" data-aos-duration="2000">
            <div class=" pb-4 mx-auto" style="width: 25vw;">
              <div class="image-wrapper">
                <img class="img-fluid hover-img" src="{% static 'core/images/pop_course1.webp'%}" alt="">
                <div class="hover-text">Python</div>
              </div>
            </div>
          </a> 
          <a class="col-4 humanity-container" href="{% url 'videos:video_of_course'%}" data-aos="zoom-out" data-aos-duration="2000">
          <div class=" pb-4 mx-auto" style="width: 25vw;">
            <div class="image-wrapper">
              <img class="img-fluid hover-img" src="{% static 'core/images/pop_course1.webp'%}" alt="">
              <div class="hover-text">Python</div>
            </div>
          </div>
        </a>
        <a class="col-4 humanity-container" href="{% url 'videos:video_of_course'%}" data-aos="zoom-out" data-aos-duration="2000">
            <div class=" pb-4 mx-auto" style="width: 25vw;">
              <div class="image-wrapper">
                <img class="img-fluid hover-img" src="{% static 'core/images/pop_course1.webp'%}" alt="">
                <div class="hover-text">Python</div>
              </div>
            </div>
          </a>
          <a class="col-4 humanity-container" href="{% url 'videos:video_of_course'%}" data-aos="zoom-out" data-aos-duration="2000">
            <div class=" pb-4 mx-auto" style="width: 25vw;">
              <div class="image-wrapper">
                <img class="img-fluid hover-img" src="{% static 'core/images/pop_course1.webp'%}" alt="">
                <div class="hover-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. At deserunt, saepe eum aspernatur quis perferendis!</div>
              </div>
            </div>
          </a>
          <a class="col-4 humanity-container" href="{% url 'videos:video_of_course'%}" data-aos="zoom-out" data-aos-duration="2000">
            <div class=" pb-4 mx-auto" style="width: 25vw;">
              <div class="image-wrapper">
                <img class="img-fluid hover-img" src="{% static 'core/images/pop_course1.webp'%}" alt="">
                <div class="hover-text">Python</div>
              </div>
            </div>
          </a>
      </div>

    </div>

  </div>

  {% include "core/static_files/scripts.html"%}
</body>

</html>