{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BILIM</title>
  {% include "core/static_files/links.html" %}
</head>

<body>
  {% include "core/hero.html" with content="For everyone" image_path="core/images/graduation-hat.png"%}
<section id="recently-seen">
    <h1 class="text-center my-4">{% if request.user.recent_seen_video.count > 0 %}Recently Seen{% else %}All courses{% endif %}</h1>
    <div class="container">
        <div class="scroll-container">
            <div class="scroll-content">
                <!-- Card 1 -->
                {% for rec_video in request.user.recent_seen_video.all|slice:"::-1" %}
                <a href="{% url "videos:video_of_course" rec_video.id %}" style="color:black;"><div class="scroll-item">
                    <img src="{{rec_video.poster.url}}" class="img-fluid">
                    <h4>{{rec_video.title}}</h4>
                    <p>{{rec_video.description|truncatewords:10}}</p>
                </div></a>
                {% empty %}
                    {% for course in courses %}
                <div class="scroll-item">
                    <img src="{{course.image.url}}" class="img-fluid">
                    <h4 class="m-2">{{course.category_name}}</h4>
                    <a href="{% url "videos:all_courses" course.id %}" class="btn downloader mb-3">View a course</a>
                </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>





<section id="popular-courses" style="width: 100vw;">
  <div class="wrapper-card">
      <h1 style="font-size: 2.5rem; font-weight: normal; text-align: center; margin: 2rem 0;" >Popular videos</h1>
      <div class="cols-card">
          <div class="col-card" ontouchstart="this.classList.toggle('hover');">
                  <div class="container-card">
                      <div class="front">
                          <img src="https://images.unsplash.com/photo-1539840093138-9b3e230e5206?auto=format&fit=crop&w=1534&q=80" alt="Python Course">
                          <div class="inner">
                              <p>Python</p>
                              <span>25 videos</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                              <button class="btn downloader rounded-3">View Course</button>
                          </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>
</section>

  <section class="container mt-5" style="text-align: justify; width: 95vw;">
    <!-- First row: one block spanning the entire width -->
    <div class="row align-items-center mb-4 block block-color-1 text-white" style="border-radius: 30px; padding: 20px;">
      <div class="col-md-6 text-center">
          <img src="{% static "core/images/about_platform.png"%}" alt="Platform Image" class="img-fluid" style="height: 230px; width: 80%; object-fit: cover; border-radius: 15px;">
      </div>
      <div class="col-md-6 text-section">
          <h1 class="fw-bold text-center">Добро пожаловать на платформу BILIM!</h1>      
          <p class="text">
            На нашей платформе каждый найдет то, что поможет раскрыть потенциал. Мы предлагаем лучшие образовательные курсы, вдохновляющие материалы и уникальные возможности для личностного роста. В "Билим" обучение превращается в увлекательное путешествие, где каждый шаг приближает вас к вашей цели.
          </p>
          <ul class="text fw-semibold" style="text-align:left;">
              <li>📚 Экспертные курсы</li>
              <li>🎓 Интерактивное обучение</li>
              <li>🌐 Доступность в любое время</li>
              <li>🚀 Персонализированный подход</li>
          </ul>
      </div>
    </div>
           
    <!-- Second row: two blocks each with 50% width -->
    <div class="d-flex mb-4 justify-content-between" id="about">
        <!-- First block -->
        <div class="d-block align-items-center block block-color-2 about2 text-white">
          <div class="d-flex w-100 card2">
            <div class="card-element text-section">
              <h1 class="fw-bold text-center">Присоединяйтесь к нам в BILIM!</h1>
              <p class="text">Станьте частью нашей образовательной семьи и откройте для себя новые горизонты знаний! Мы приглашаем всех — будь то начинающие студенты, опытные профессионалы или просто любители учёбы — присоединиться к нам. Вместе мы создадим пространство, где каждый сможет развиваться, учиться и достигать новых вершин.</p>
            </div>
            <div class="d-flex align-items-center justify-content-center text-center card-element mx-auto">
              <img src="{% static "core/images/join_us.png"%}" alt="Фото" class="img-fluid rounded-5" style="width: 80%; height: 75%; object-fit: cover;">
            </div>
          </div>
        </div>
        <!-- Second block -->
        <div class="d-block align-items-center block block-color-3 about2 text-white">
          <div class="d-flex w-100 card2">
            <div class="card-element text-section">
              <h1 class="text-center fw-bold">Экзамены на платформе BILIM</h1>
              <p class="text">Наши экзамены — это не просто тесты, а важный шаг на пути к успеху. Мы предлагаем вам уникальную возможность проверить свои знания и подготовиться к реальным испытаниям с помощью наших интерактивных и практичных экзаменов. Каждый экзамен создан с учётом современных стандартов и актуальных требований, чтобы вы могли продемонстрировать свои достижения и знания в лучшем свете.</p>
            </div>
            <div class="d-flex align-items-center justify-content-center text-center card-element">
              <img src="{% static "core/images/exams.png"%}" alt="Фото" class="img-fluid rounded-5" style="width: 80%; height: 75%; object-fit: cover;">
            </div>
          </div>
        </div>
    </div>      
  </section>
  



{% include 'core/scientists.html'%}

  
{% include 'core/footer.html'%}
{% include "core/static_files/scripts.html" %}


</body>

</html>