{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BILIM</title>
  {% include "core/static_files/links.html" %}
</head>

<body>
  {% include "core/hero.html" with content=_("Курсы для всех") image_path="core/images/graduation-hat.png" %}
  
  <section id="recently-seen">
    <h1 class="text-center my-4">
      {% if request.user.recent_seen_video.count > 0 %}
        {% translate 'Недавно просмотренные' %}
      {% else %}
        {% translate 'Все категории курсов' %}
      {% endif %}
    </h1>
    <div class="container">
        <div class="scroll-container">
            <div class="scroll-content">
                <!-- Card 1 -->
                {% for rec_video in request.user.recent_seen_video.all|slice:"::-1" %}
                <a href="{% url 'videos:video_of_course' rec_video.id %}" style="color:black;">
                  <div class="scroll-item">
                    <img src="{{rec_video.poster.url}}" class="img-fluid">
                    <h6>{{rec_video.title|truncatewords:4}}</h6>
                    <p>{{rec_video.description|truncatewords:10}}</p>
                </div></a>
                {% empty %}
                    {% for course in courses %}
                <div class="scroll-item">
                    <img src="{{course.image.url}}" class="img-fluid">
                    <h4 class="m-2">{{course.category_name}}</h4>
                    <a href="{% url 'videos:all_courses' course.id %}" class="btn downloader mb-3">{% translate 'Посмотреть' %}</a>
                </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
  </section>

  <section id="popular-courses" style="width: 100vw;">
    <div class="wrapper-card">
        <h1 style="font-size: 2.5rem; font-weight: normal; text-align: center; margin: 2rem 0;">
          {% translate 'Популярные курсы' %}
        </h1>
        <div class="cols-card">
          {% for popular_video in popular_videos %}
            <div class="col-card" ontouchstart="this.classList.toggle('hover');">
              <div class="container-card">
                <div class="front">
                    <img src="{{popular_video.poster.url}}" alt="">
                    <div class="inner">
                        <p>{{popular_video.title|truncatewords:6}}</p>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>{{popular_video.description|truncatewords:15}}</p>
                        <a href="{% url 'videos:video_of_course' popular_video.id %}" class="btn downloader rounded-3">{% translate 'Посмотреть' %}</a>
                    </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
    </div>
  </section>

  <section class="container mt-5" style="text-align: justify; width: 95vw;">
    <!-- First row: one block spanning the entire width -->
    <div class="row align-items-center mb-4 block block-color-1 text-white" style="border-radius: 30px; padding: 20px;">
      <div class="col-md-6 text-center">
          <img src="{% static 'core/images/about_platform.png' %}" alt="" class="img-fluid" style="height: 230px; width: 80%; object-fit: cover; border-radius: 15px;">
      </div>
      <div class="col-md-6 text-section">
          <h1 class="fw-bold text-center">{% translate 'Добро пожаловать в BILIM!' %}</h1>
          <p class="text">
          {% blocktrans %}На нашей платформе каждый найдет то, что поможет раскрыть потенциал. Мы предлагаем лучшие образовательные курсы, вдохновляющие материалы и уникальные возможности для личностного роста. В "Билим" обучение превращается в увлекательное путешествие, где каждый шаг приближает вас к вашей цели.{% endblocktrans %} 
          </p>
          <ul class="text fw-semibold" style="text-align:left;">
              <li>📚 {% translate 'Экспертные курсы' %}</li>
              <li>🎓 {% translate 'Интерактивное обучение' %}</li>
              <li>🌐 {% translate 'Доступность в любое время' %}</li>
              <li>🚀 {% translate 'Персонализированный подход' %}</li>
          </ul>
      </div>
    </div>
{% comment %} 
    <div class="d-flex mb-4 justify-content-between" id="about">
        <!-- First block -->
        <div class="d-block align-items-center block block-color-2 about2 text-white">
          <div class="d-flex w-100 card2">
            <div class="card-element text-section">
              <h1 class="fw-bold text-center">{% translate 'Join us at BILIM!' %}</h1>
              <p class="text">{% translate 'Become part of our educational family and open up new horizons of knowledge! We invite everyone — whether you are a beginner, an experienced professional, or simply a lover of learning — to join us. Together, we will create a space where everyone can grow, learn, and reach new heights.' %}</p>
            </div>
            <div class="d-flex align-items-center justify-content-center text-center card-element mx-auto">
              <img src="{% static 'core/images/join_us.png' %}" alt="{% translate 'Photo' %}" class="img-fluid rounded-5" style="width: 80%; height: 75%; object-fit: cover;">
            </div>
          </div>
        </div>
        <!-- Second block -->
        <div class="d-block align-items-center block block-color-3 about2 text-white">
          <div class="d-flex w-100 card2">
            <div class="card-element text-section">
              <h1 class="text-center fw-bold">{% translate 'Exams on BILIM platform' %}</h1>
              <p class="text">{% translate 'Our exams are not just tests, they are an important step towards success. We offer you a unique opportunity to test your knowledge and prepare for real-life challenges with our interactive and practical exams. Each exam is designed according to modern standards and current requirements, so you can showcase your achievements and knowledge in the best possible way.' %}</p>
            </div>
            <div class="d-flex align-items-center justify-content-center text-center card-element">
              <img src="{% static 'core/images/exams.png' %}" alt="{% translate 'Photo' %}" class="img-fluid rounded-5" style="width: 80%; height: 75%; object-fit: cover;">
            </div>
          </div>
        </div>
    </div>      
  </section> {% endcomment %}

  {% include 'core/scientists.html' %}
  
  {% include 'core/footer.html' %}
  {% include 'core/static_files/scripts.html' %}

</body>

</html>
