{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BILIM</title>
  {% include "core/static_files/links.html" %}
</head>
<body>
  {% include "core/hero.html" with content="For everyone" image_path="core/images/graduation-hat.png"%}

  <!-- POPULAR COURSES -->
  <div class="">
    <div class="text-center pop_header mb-5" style=" color:black;">Popular Courses</div>
    <div class="popular_images mx-auto mb-5" data-aos="fade-right" data-aos-duration="2000">

      <div class="swiper-container">

         <div class="swiper-wrapper d-flex align-items-center ">
          <div class="swiper-slide"><img  src="{% static 'core/images/pop_course1.webp'%}" alt="Image 1"></div>
          <div class="swiper-slide"><img  src="{% static 'core/images/pop_course1.webp'%}" alt="Image 2"></div>
          <div class="swiper-slide"><img  src="{% static 'core/images/pop_course1.webp'%}" alt="Image 3"></div>
          <div class="swiper-slide"><img  src="{% static 'core/images/pop_course1.webp'%}" alt="Image 4"></div>
          <div class="swiper-slide"><img  src="{% static 'core/images/pop_course1.webp'%}" alt="Image 5"></div>
          
          
        </div> 

      </div>
    </div> 
  </div>
  <!-- SONKY GORULENLER -->
  <div class="mt-4">
    <div class=" text-center mb-4 " style=" color:black;">Sonky Gorulenler</div>
    <div class="  mx-auto" style="width: 90%;" data-aos="fade-left" data-aos-duration="2000">
      <!-- <div class=" row mx-auto mb-3 " >
        <div class=" hover-container col-6  pb-4">
            <div class="image-wrapper">
              <img class="img-fluid hover-img" src="{% static 'core/images/pop_course1.webp'%}" alt="">
            <div class="hover-text">Python</div>
          </div>
        </div>
        <div class=" hover-container col-6  pb-4">
          <div class="image-wrapper">
            <img class="img-fluid hover-img" src="{% static 'core/images/pop_course1.webp'%}" alt="">
            <div class="hover-text">Python</div>
          </div>
        </div>
         <div class=" hover-containe col-6 pb-4">
          <div class="image-wrapper">
            <img class="img-fluid hover-img" src="{% static 'core/images/pop_course1.webp'%}" alt="">
            <div class="hover-text">Python</div>
          </div>
        </div>
        <div class=" hover-container col-6 pb-4">
          <div class="image-wrapper">
            <img class="img-fluid hover-img" src="{% static 'core/images/pop_course1.webp'%}" alt="">
            <div class="hover-text">Python</div>
          </div>
        </div> 
      </div> -->

      <div class="row mx-auto mb-3">
        <!-- Hover Container 1 -->
        <div class=" col-6 col-md-4 col-lg-3 pb-4  " >
          <div class="image-wrapper ">
            <img class="img-fluid hover-img" src="{% static 'core/images/pop_course1.webp' %}" alt="">
            <div class="hover-text">Python</div>
          </div>
        </div>
      
        <!-- Hover Container 2 -->
        <div class=" col-6 col-md-4 col-lg-3 pb-4  ">
          <div class="image-wrapper">
            <img class="img-fluid hover-img" src="{% static 'core/images/pop_course1.webp' %}" alt="">
            <div class="hover-text">Python</div>
          </div>
        </div>
      
        <!-- Hover Container 3 -->
        <div class=" col-6 col-md-4 col-lg-3 pb-4">
          <div class="image-wrapper">
            <img class="img-fluid hover-img" src="{% static 'core/images/pop_course1.webp' %}" alt="">
            <div class="hover-text">Python</div>
          </div>
        </div>
      
        <!-- Hover Container 4 -->
        <div class=" col-6 col-md-4 col-lg-3 pb-4">
          <div class="image-wrapper">
            <img class="img-fluid hover-img" src="{% static 'core/images/pop_course1.webp' %}" alt="">
            <div class="hover-text">Python</div>
          </div>
        </div>

        <!-- Hover Container 5 -->
        <div class=" col-6 col-md-4 col-lg-3 pb-4">
          <div class="image-wrapper">
            <img class="img-fluid hover-img" src="{% static 'core/images/pop_course1.webp' %}" alt="">
            <div class="hover-text">Python</div>
          </div>
        </div>

        <!-- Hover Container 6 -->
        <div class=" col-6 col-md-4 col-lg-3 pb-4">
          <div class="image-wrapper">
            <img class="img-fluid hover-img" src="{% static 'core/images/pop_course1.webp' %}" alt="">
            <div class="hover-text">Python</div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <!-- PLATFORMA BARADA -->
  <div class="mx-auto" style="width: 95vw; margin-bottom: 10vh;">
    <!-- 1NJI SETIRI -->
    <div class="section mx-auto row rounded-2 d-flex text-center align-items-center "
      style="height: 75vh; background: linear-gradient(135deg, #373985, #8f95dd);">
      <div class="platform_img1 col">
        <img style="width: 30vw;" src="{% static 'core/images/online-study.webp'%}" alt="">
      </div>
      <div class="col text-start" style="color: white;">
        <div class="h3" >Platforma barada</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam maxime, incidunt cumque aut dolorum sapiente!
        </p>
        <p class="d-none d-md-block ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam maxime, incidunt cumque aut dolorum sapiente!
        </p>
      </div>
    </div>
    <!-- 2NJI SETIRI -->
    <div class="section mx-auto row rounded-2 py-4 d-flex text-center align-items-center"
      style="height: 75vh; background-color: #FFA000;">
      <div class="col mx-auto">
        <div class="h3 font-bolder" style="color:white;">Bize Gosul!</div>
        <div style="color:white">Bu gun siz ucin ajayyp gun Sebabi siz bize <br> gosuldynyz! :) </div>
        <button class="btn btn-warning rounded-4  px-3 py-2 mt-3 downloader">Sign up</button>
      </div>
      <div class="platform_img1 col">
        <img style="width: 40vw;" src="{% static 'core/images/online-study2.webp'%}" alt="">
      </div>
    </div>

    <!-- EXAMS -->

    <div class="section mx-auto row rounded-2 py-4 d-flex text-center align-items-center"
      style="height: 75vh; background: linear-gradient(135deg, #373985, #8f95dd);">
      <div class="col mx-auto">
        <div class="h3 font-bolder" style="font-size: 6vw; color:white;">Exams</div>
        <div class="p" style="color: white;">Bu gun siz ucin ajayyp gun Sebabi siz bize <br> gosuldynyz! :) </div>
      </div>
      <div class="platform_img1 col">
        <img style="width: 30vw;" src="{% static 'core/images/Books.webp'%}" alt="">
      </div>

    </div>
  </div>


{% include 'core/scientists.html'%}
  <!-- YURISDIKSIYA -->
  <div class="mx-auto" style="width: 95vw;">
    <div class="row  rounded-3 py-5" style="background: linear-gradient(135deg, #373985, #8f95dd);">
      <div class="row mx-auto align-items-center " style="width: 80vw;">
        <div class="col-8">
          <div class="h2" style="color: white;">Platforma barada duzgunnama!</div>
          <div class="mt-3"><button class="btn btn-warning rounded-4  px-3 py-2 downloader">Download</button></div>
        </div>
        <div class="col ms-5">
          <svg class="text-danger" xmlns="http://www.w3.org/2000/svg" width="190" height="190" fill="currentColor"
            class="bi bi-exclamation-lg" viewBox="0 0 16 16">
            <path d="M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0zM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0" />
          </svg>
        </div>
      </div>
    </div>
  </div>


  {% include 'core/footer.html'%}
{% include "core/static_files/scripts.html" %}


</body>

</html>