{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% translate 'Библиотека Bilim' %}</title>
  {% include "core/static_files/links.html" %}
</head>
<body>
  {% include "core/hero.html" with content=_("Большая библиотека Bilim") image_path="core/images/library.png" %}

  <!--Poisk-->
  <form action="{% url 'library:library' %}" method="get">
    <div class="container-fluid">
      <div class="d-flex flex-column flex-lg-row justify-content-end align-items-start align-items-lg-center py-2 px-3">
        <!-- Search Field -->
        <div class="position-relative me-0 mb-3 mb-lg-0 me-lg-3">
          <input name="book_name" type="text" class="form-control pe-5 rounded-4 expand-input fs-4" placeholder="{% translate 'Поиск...' %}" style="border: 1px solid #8F92DD;" {% if book_name %} value="{{book_name}}" {% endif %}>
          <span class="position-absolute top-50 translate-middle-y end-0 me-2" style="color: #8F92DD;"></span>
        </div>

        <div class="d-flex">
          <!-- Category Select -->
          <div class="mb-3 mb-lg-0">
            <select name="category" class="form-select rounded-4 fs-4" style="border: 1px solid #8F92DD; background-color: #8F92DD; color: white; width: 10rem;">
              <option value="">{% translate 'Все' %}</option>
              {% for category in categories %}
                <option value="{{category.category_name}}" {% if category_name == category.category_name %} selected {% endif %}>{{category.category_name}}</option>
              {% empty %}
                <option value="">{% translate 'Нет категории' %}</option>
              {% endfor %}
            </select>
          </div>
          
          <!-- Sort Button -->
          <button type="submit" class="btn btn-secondary downloader rounded-4 fs-5 text-center" style="margin-left: 10px; height:50px;">{% translate 'Сортировать' %}</button>
        </div>
      </div>
    </div>
  </form>

  <!--Books-->
  <div class="container py-4" style="width: 90vw;">
    <h1 class="text-center mb-4">{% translate 'Все книги' %}</h1>

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-5" id="book-container">
      {% include "core/book_cards.html"%}
    </div>
  </div>

  {% include 'core/footer.html' %}
  {% include "core/static_files/scripts.html" %}


  
  <script>
    let bookPage = 2;
  let bookLoading = false;
  let bookHasNext = true;

  window.addEventListener("scroll", function () {
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight - 50 && !bookLoading && bookHasNext) {
      bookLoading = true;
      loadMoreBooks();
    }
  });

  function loadMoreBooks() {
    const urlParams = new URLSearchParams(window.location.search);
    urlParams.set("page", bookPage);

    fetch(window.location.pathname + "?" + urlParams.toString(), {
      headers: {
        "X-Requested-With": "XMLHttpRequest"
      }
    })
      .then(response => response.json())
      .then(data => {
        if (data.html.trim() !== "") {
          document.getElementById("book-container").insertAdjacentHTML("beforeend", data.html);
          bookPage++;
          bookHasNext = data.has_next;
        } else {
          bookHasNext = false;
        }
        bookLoading = false;
      });
  }

  </script>
</body>
</html>
