{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% translate 'Bilim Library' %}</title>
  {% include "core/static_files/links.html" %}
</head>
<body>
  {% include "core/hero.html" with content="{% translate 'Huge Library of Bilim' %}" image_path="core/images/library.png" %}

  <!--Poisk-->
  <form action="{% url 'library:library' %}" method="get">
    <div class="container-fluid">
      <div class="d-flex flex-column flex-lg-row justify-content-end align-items-start align-items-lg-center py-2 px-3">
        <!-- Search Field -->
        <div class="position-relative me-0 mb-3 mb-lg-0 me-lg-3">
          <input name="book_name" type="text" class="form-control pe-5 rounded-4 expand-input fs-4" placeholder="{% translate 'Search...' %}" style="border: 1px solid #8F92DD;" {% if book_name %} value="{{book_name}}" {% endif %}>
          <span class="position-absolute top-50 translate-middle-y end-0 me-2" style="color: #8F92DD;"></span>
        </div>

        <div class="d-flex">
          <!-- Category Select -->
          <div class="mb-3 mb-lg-0">
            <select name="category" class="form-select rounded-4 fs-4" style="border: 1px solid #8F92DD; background-color: #8F92DD; color: white; width: 10rem;">
              <option value="">{% translate 'All' %}</option>
              {% for category in categories %}
                <option value="{{category.category_name}}" {% if category_name == category.category_name %} selected {% endif %}>{{category.category_name}}</option>
              {% empty %}
                <option value="">{% translate 'No category' %}</option>
              {% endfor %}
            </select>
          </div>
          
          <!-- Sort Button -->
          <button type="submit" class="btn btn-secondary downloader rounded-4 fs-5 text-center" style="margin-left: 10px; height:50px;">{% translate 'Sort' %}</button>
        </div>
      </div>
    </div>
  </form>

  <!--Books-->
  <div class="container py-4" style="width: 90vw;">
    <h1 class="text-center mb-4">{% translate 'Most Popular Books' %}</h1>

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-5">
      {% for book in books %}
        <div class="col" data-aos="zoom-in" data-aos-duration="2000">
          <a href="{% url 'library:book_details' book.id %}" class="book-details" style="text-decoration: none; color: black;">
            <div class="card-book rounded-4">
              <img src="{{book.book_poster.url}}" class="card-img-top" alt="{% translate 'book' %}">
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title text-center mt-3 fs-5">{% translate 'Title' %}: {{book.name}}</h5>
                <p class="text p-1" style="font-size:12px;">{{book.description|truncatewords:17}}</p>
                <a href="{{book.book_file.url}}" target="_blank" class="btn downloader mx-auto rounded-2">{% translate 'View Book' %}</a>
              </div>
            </div>
          </a>
        </div>
      {% empty %}
        <center><h1 class="text-danger">{% translate 'There are no books' %}</h1></center>
      {% endfor %}
    </div>
  </div>

  {% include 'core/footer.html' %}
  {% include "core/static_files/scripts.html" %}
</body>
</html>
