{% load static %}

<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="https://assets.weforum.org/article/image/responsive_big_webp_0ZUBmNNVLRCfn3NdU55nQ00UF64m2ObtcDS0grx02fA.webp" alt="">
    </div>
    <div class="swiper-slide">
      <img src="https://img.freepik.com/free-photo/aerial-view-colorful-mixed-forest-shrouded-morning-fog-beautiful-autumn-day_1153-3817.jpg?t=st=1739868489~exp=1739872089~hmac=18aba166b862a10de06c608a4d672d221fcbf69b49a6775977dc3bc9c69a2d4a&w=1060" alt="">
    </div>
    <div class="swiper-slide">
      <img src="https://good-nature-blog-uploads.s3.amazonaws.com/uploads/2022/01/good-nature-homepage-hero_2-1280x640.jpg" alt="">
    </div>
    <div class="swiper-slide">
      <img src="https://assets.weforum.org/article/image/responsive_big_webp_0ZUBmNNVLRCfn3NdU55nQ00UF64m2ObtcDS0grx02fA.webp" alt="">
    </div>
    <div class="swiper-slide">
      <img src="https://img.freepik.com/free-photo/aerial-view-colorful-mixed-forest-shrouded-morning-fog-beautiful-autumn-day_1153-3817.jpg?t=st=1739868489~exp=1739872089~hmac=18aba166b862a10de06c608a4d672d221fcbf69b49a6775977dc3bc9c69a2d4a&w=1060" alt="">
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>


</div>

<!-- Below are changes b/4 18.02.2025  -->
<!-- 
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="https://via.placeholder.com/300" alt="Image 1">
    </div>
    <div class="swiper-slide">
      <img src="https://via.placeholder.com/300" alt="Image 2">
    </div>
    <div class="swiper-slide">
      <img src="https://via.placeholder.com/300" alt="Image 3">
    </div>
    <div class="swiper-slide">
      <img src="https://via.placeholder.com/300" alt="Image 4">
    </div>
     Add more slides as needed 
  </div>

   Add Pagination 
  <div class="swiper-pagination"></div>

   Add Navigation 
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div> -->





        <!-- Swiper -->
{% comment %} <!--  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="https://images.unsplash.com/photo-1566679056462-2075774c8c07?q=80&w=2675&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
      </div>
      <div class="swiper-slide">
        <img src="https://images.unsplash.com/photo-1494806812796-244fe51b774d?q=80&w=2667&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
      </div>
      <div class="swiper-slide">
        <img src="https://images.unsplash.com/photo-1670414701148-16ac8873a150?q=80&w=2648&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
      </div>
      <div class="swiper-slide">
        <img src="https://images.unsplash.com/photo-1590041794748-2d8eb73a571c?q=80&w=2856&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
      </div>
      <div class="swiper-slide">
        <img src="https://images.unsplash.com/photo-1526772662000-3f88f10405ff?q=80&w=2748&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
      </div>
      <div class="swiper-slide">
        <img src="https://images.unsplash.com/photo-1443632864897-14973fa006cf?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
      </div>
      {% comment %} <div class="swiper-slide">
        <img src="https://images.unsplash.com/photo-1483921020237-2ff51e8e4b22?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
      </div>
      <div class="swiper-slide">
        <img src="https://images.unsplash.com/photo-1446488547543-78c11468449a?q=80&w=2669&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
      </div>
      <div class="swiper-slide">
        <img src="https://images.unsplash.com/photo-1463693396721-8ca0cfa2b3b5?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
      </div> 
    </div>
    <div class="swiper-button swiper-button-next downloader"></div>
    <div class="swiper-button swiper-button-prev downloader"></div>
  </div>  --> {% endcomment %}
