<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My profile</title>
  {% include "core/static_files/links.html"%}
</head>
<body>
{% include "core/hero.html" with content="Your profile" image_path="core/images/Books.webp"%}
  <div class="container my-4">

    <div class="row">
      <!-- Первый столбец -->
      <div class="col-md-4 text-center text-md-start">
        {% if request.user.user_avatar %}
        <img src="{{ request.user.user_avatar.url }}" alt="User Photo" class="img-fluid" style="border-radius: 50%; width: 300px; height: 300px; object-fit: cover;">
        {% else %}
        <img src="" alt="User Photo" class="img-fluid" style="border-radius: 50%; width: 300px; height: 300px; object-fit: cover;">
        {% endif %}
        <h1 class="my-2">{{request.user.username}} </h1>
        {% if request.user.job %}
        <h2 style="color: #F24B86;">{{request.user.job}}</h2>
        {% endif %}
        <h3 class="my-3">About me</h3>
        
        <!-- Контейнер с иконками -->
        <div class="d-flex flex-wrap justify-content-start">
          <!-- Display abilities if the user has any -->
          {% for user_abilities in request.user.user_abilities.all %}
              <div class="icon-column d-flex flex-column align-items-center m-2 p-3 border rounded shadow-sm" style="width:35%;">
                  <div class="icon-container d-flex align-items-center justify-content-center mb-2">
                      <i class="{{ user_abilities.ability_icon }} text-primary" style="font-size: 2rem;"></i>
                  </div>
                  <p class="text-center">{{ user_abilities.name }}</p>
              </div>
          {% empty %}
              <!-- Display message if no abilities -->
              <div class="w-100 text-center">
                  <h5>No abilities... Edit your abilities</h5>
              </div>
          {% endfor %}
      </div>
      
      </div>

      <!-- Второй столбец -->
       
      <div class="col-md-4">
        <div class="mb-3">
          <h1>About me</h1>
          <p>{% if request.user.about_me %} {{ request.user.about_me }} {% else %} There is nothing about you! Edit your page {% endif %} </p>
        </div>
        <div class="mb-3">
          <h1>About my goals</h1>
          <p> {% if request.user.about_my_goals %} {{ request.user.about_my_goals}} {% else %} There is nothing about your goals. Please edit in edit page! {% endif %} </p>
        </div>
      </div>

      <!-- Третий столбец -->
      <div class="col-md-4">
        <h1>Your exams</h1>
        <div class="container mt-3">
          <h5>Ui dizayner</h5>
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="--progress-width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>

      </div>
      </div>
      <div class="d-flex justify-content-end mt-5">
        <a href="{% url "auth:edit_profile"%}"><button class="btn btn-primary downloader">Edit your profile</button></a>
      </div>


    </div>
  </div>
  {% include "core/footer.html"%}
{% include "core/static_files/scripts.html"%}
</body>
</html>
