<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit user profile </title>
    {% include "core/static_files/links.html"%}
    <style>
        label {
            font-size: 1.2rem;
            margin-bottom: 0;
        }
        .form-group {
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
        }
        .form-group label {
            width: 300px; /* Задайте ширину метки */
        }
        .form-control {
            flex-grow: 1; /* Заставляет input занимать оставшееся пространство */
        }
        input,textarea{
          outline: 1px solid #333;
        }
        .form-container {
            position: relative;
        }
        #photoPreview:hover{
          transform: scale(1.1); 
        }
    </style>
</head>
<body>
    {% include "core/hero.html" with content="Edit your profile" image_path="core/images/course.webp"%}
    <div class="container mt-5 form-container">
        <div class="row">
            <div class="col-md-3">
                <h3 class="mb-3 text-center">Your picture</h3>
                <form action="" method='post'>
              <div class="mb-4 text-center text-md-start">
                <label for="photoUpload" style="cursor: pointer; display: inline-block; border: 2px dashed #ccc; border-radius: 50%; width: 300px; height: 300px; display: flex; align-items: center; justify-content: center; background-color: #f8f9fa;">
                    {% if request.user.user_avatar %}
                    <img src="{{ request.user.user_avatar.url}}" alt="Фото" id="photoPreview" class="img-fluid" style="border-radius: 50%; width: 300px; height: 300px; object-fit: cover;">
                    {% else %}
                    <span id="photoIcon" class="d-flex align-items-center justify-content-center" style="font-size: 3rem; color: #aaa;">+</span>
                    <img src="" alt="Фото" id="photoPreview" class="img-fluid" style="border-radius: 50%; width: 300px; height: 300px; object-fit: cover; display: none; transition: transform 0.3s;">
                    {% endif %}
                </label>
                <input type="file" id="photoUpload" style="display: none;" accept="image/*" onchange="updatePhotoPreview(event)">
            </div>
                
            </div>

            <div class="col-md-4">
                <h3 class="mb-3">General information</h3>
                <form>
                    <div class="mb-4 form-group">
                        <label for="fullname" class="form-label">Ady we familiýasy:</label>
                        <input type="text" class="form-control" id="fullname" placeholder="Ady we damiliyasy">
                    </div>

                    <div class="mb-4 form-group">
                        <label for="profession" class="form-label">Hünäri:</label>
                        <input type="text" class="form-control" id="profession" placeholder="Hunari">
                    </div>

                    <div class="mb-4 form-group">
                        <label for="motivation" class="form-label">Motivasiýa:</label>
                        <textarea class="form-control" id="motivation" placeholder="Motiwasiya giriz"></textarea>
                    </div>

                    <div class="mb-4 form-group">
                        <label for="goals" class="form-label">Maksatlar:</label>
                        <textarea class="form-control" id="goals" placeholder="Maksatlar giriz"></textarea>
                    </div>
                </form>
            </div>

            <div class="col-md-5">
            <h3 class="mb-3 text-center">Information about yourself</h3>

                
                    <div class="mb-3 form-group">
                        <label for="gender" class="form-label">
                            <i class="bi bi-wifi text-warning me-2"></i>Internet
                        </label>
                        <input type="number" class="form-control" id="gender" min="0" max="10" value="0">
                    </div>

                    <div class="mb-3 form-group">
                        <label for="birthdate" class="form-label">
                            <i class="bi bi-building text-warning me-2"></i>AutoCAD
                        </label>
                        <input type="number" class="form-control" id="birthdate" min="0" max="10" value="0">
                    </div>

                    <div class="mb-3 form-group">
                        <label for="location" class="form-label">
                            <i class="bi bi-badge-3d-fill text-warning me-2"></i>3D max
                        </label>
                        <input type="number" class="form-control" id="location" min="0" max="10" value="0">
                    </div>

                    <div class="mb-3 form-group">
                        <label for="study" class="form-label">
                            <i class="bi bi-mortarboard text-warning me-2"></i>Programming
                        </label>
                        <input type="number" class="form-control" id="study" min="0" max="10" value="0">
                    </div>

                    <div class="mb-3 form-group">
                        <label for="idea" class="form-label">
                            <i class="bi bi-palette text-warning me-2"></i>Design
                        </label>
                        <input type="number" class="form-control" id="idea" min="0" max="10" value="0">
                    </div>
                    <div class="d-flex justify-content-end">
                    <button type="submit" class="btn save-button downloader fs-5">Save</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>

    {% include "core/footer.html"%}

    <script>

        function updatePhotoPreview(event) {
    const file = event.target.files[0];
    if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
            const photoPreview = document.getElementById('photoPreview');
            const photoIcon = document.getElementById('photoIcon');

            photoPreview.src = e.target.result;
            photoPreview.style.display = 'block'; // Показываем загруженное фото
            photoIcon.style.display = 'none'; // Скрываем значок +
        };
        reader.readAsDataURL(file);
    }
}


    </script>
{% include "core/static_files/scripts.html"%}


</body>
</html>
