
{% load static %}
  <div class="einstein_animes mt-5" >
    <div class=" einstein_anime row mt-5 mb-5  align-items-center mx-auto" style="width: 75vw;" data-aos="fade-down"
      data-aos-duration="2000">
      <div class="col-7">
        <img class="scientists" id="" style="" src="{% static 'core/images/Einstein.webp'%}"
          alt="">
      </div>
      <div class="col">
        <div id="" class="fs-1 fw-bold" style='color:black'>Albert Einstein</div>
        <div id="" class="p fs-5" style='color:black'>"Bilim Geljegiň Açarydyr"</div>
      </div>
    </div>
    <div class="einstein_anime row mt-5 mb-5  align-items-center mx-auto" style="width: 75vw;">
      <div class="col-7">
        <img class="scientists" id="" src="{% static 'core/images/MarieCurie.webp'%}"
          alt="">
      </div>
      <div class="col">
        <div id="" class="fs-1 fw-bold" style='color:black'>Maria Kuri</div>
        <div id="" class="p fs-5" style='color:black'>"Bilim Geljegiň Açarydyr"</div>
      </div>
    </div>
    <div class="einstein_anime row mt-5 mb-5  align-items-center mx-auto" style="width: 75vw;">
      <div class="col-7">
        <img class="scientists" id=""  src="{% static 'core/images/Newton.webp'%}" alt="">
      </div>
      <div class="col">
        <div id="" class="fs-1 fw-bold" style='color:black'>Nikola Tesla</div>
        <div id="" class="p fs-5" style='color:black'>"Bilim Geljegiň Açarydyr"</div>
      </div>
    </div>
  </div>