
{% load static %}

<!-- <style>
  .einstein_anime {
    display: none; /* Start by hiding all elements */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.einstein_anime.active {
    display: flex; /* Make the active slide visible */
    opacity: 1;
}

</style> -->
<!-- 
<div class="einstein_animes mt-5">
  <div class="einstein_anime row mt-5 mb-5 align-items-center mx-auto active" style="width: 75vw;" data-aos="fade-down" data-aos-duration="2000">
      <div class="col-7 col">
          <img class="scientists" src="{% static 'core/images/Einstein.webp' %}" alt="">
      </div>
      <div class="col">
          <div class="fs-1 fw-bold">Albert Einstein</div>
          <div class="p fs-5">"Bilim Geljegiň Açarydyr"</div>
      </div>
  </div>
  <div class="einstein_anime row mt-5 mb-5 align-items-center mx-auto" style="width: 75vw;">
      <div class="col-7">
          <img class="scientists" src="{% static 'core/images/MarieCurie.webp' %}" alt="">
      </div>
      <div class="col">
          <div class="fs-1 fw-bold">Maria Kuri</div>
          <div class="p fs-5">"Bilim Geljegiň Açarydyr"</div>
      </div>
  </div>
  <div class="einstein_anime row mt-5 mb-5 align-items-center mx-auto" style="width: 75vw;">
      <div class="col-7">
          <img class="scientists" src="{% static 'core/images/Newton.webp' %}" alt="">
      </div>
      <div class="col">
          <div class="fs-1 fw-bold">Nikola Tesla</div>
          <div class="p fs-5">"Bilim Geljegiň Açarydyr"</div>
      </div>
  </div>
</div> -->



  <div class="einstein_animes mt-5" >
    <div class=" einstein_anime row mt-5 mb-5  align-items-center mx-auto" style="width: 75vw;" data-aos="fade-down"
      data-aos-duration="2000">
      <div class="col-7">
        <img class="scientists" id=""  src="{% static 'core/images/Einstein.webp'%}"
          alt="">
      </div>
      <div class="col">
        <div id="" class="fs-1 fw-bold">Albert Einstein</div>
        <div id="" class="p fs-5" >"Bilim Geljegiň Açarydyr"</div>
      </div>
    </div>
    <div class="einstein_anime row mt-5 mb-5  align-items-center mx-auto" style="width: 75vw;">
      <div class="col-7">
        <img class="scientists" id="" src="{% static 'core/images/MarieCurie.webp'%}"
          alt="">
      </div>
      <div class="col">
        <div id="" class="fs-1 fw-bold">Maria Kuri</div>
        <div id="" class="p fs-5">"Bilim Geljegiň Açarydyr"</div>
      </div>
    </div>
    <div class="einstein_anime row mt-5 mb-5  align-items-center mx-auto" style="width: 75vw;">
      <div class="col-7">
        <img class="scientists" id=""  src="{% static 'core/images/Newton.webp'%}" alt="">
      </div>
      <div class="col">
        <div id="" class="fs-1 fw-bold" >Nikola Tesla</div>
        <div id="" class="p fs-5" >"Bilim Geljegiň Açarydyr"</div>
      </div>
    </div>
  </div>