{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BILIM</title>
    {% include "core/static_files/links.html"%}
    <link rel="stylesheet" href="{% static 'core/css/login.css'%}">
    </style>
</head>

<body class="mx-auto text-center font-outfit">
    <div class=" position-relative ">
        <div class="flag m-3"><img src="{% static 'core/images/turkmen-flag.png'%}" style="width: 40px; height: 20px;" alt=""></div>
        <!-- IKI SANY "a" TAG d-none BERILEN -->
        <div class="d-none">
          <a href=""></a>
          <a href=""></a>
        </div>
      </div>
    <div class=" position-absolute d-flex mx-auto justify-content-center align-items-center"
        style="top: 15%; left: 15%;">
        <div class=" text-center mx-auto border-2 py-4 px-4 rounded-3 justify-content-between bg-white d-flex"
            style="border:  1px solid rgb(128, 128, 128, 0.1); width: 70vw; z-index: 11;">
            <div class="col-md-6 col-lg-5 col-10 col-sm-9 mx-auto">
                <div class=" mt-5  bg-secondary"></div>
                <div class="logo pt-3"><img src="{% static 'core/images/turkmen-flag.png'%}" style="width: 40px; height: 20px;" alt=""></div>
                <div class="d-md-none h3"  style="color:black;">Bilim University</div>
                <div class="h3 col-sm-12"  style="color:black;">Create an account</div>
                <div class="small"  style="color:black;">Already have an account? <span class=" "><a href="{% url 'auth:login'%}" style=" color: black;">Log in</a>
                    </span></div>
                <div class="w-100 mx-auto mt-3  d-flex justify-content-between"  style="color:black;">
                    <div>
                        <input type="radio" required name="option" id="">Student
                    </div>
                    <div>
                        <input type="radio" required name="option" id="">Teacher
                    </div>
                </div>

                <form action="">
                    <div class="mb-3">
                        <div class="mt-2 text-start">
                            <div class=" small text-small">Email address</div>
                            <input class="w-100 p-2 form-control" required type="email" name="" id="email">
                        </div>
                        <div class="mt-2 text-start">
                            <div class=" small text-small">Password</div>
                            <input class="w-100 p-2 form-control" required type="password" name="" id="password">
                        </div>
                        <div class="mt-2 text-start">
                            <div class=" small text-small">Name</div>
                            <input class="w-100 p-2 form-control" required type="text" name="" id="username">
                        </div>
                    </div>
        
                    <a href="">
                        <div class="  mb-5  text-center">
                        <button id="registerButton" disabled class="p-2 rounded-5 border-0 text-white fs-5 fw-light w-100" style="background-color: gray; cursor: not-allowed;">Create an account</button>
                        </div>
                    </a>
                </form>
            </div>
           
            <div class="d-flex d-none d-md-flex align-items-center">
                <div class="d-block align-items-center">
                    <div class="d-flex  align-items-center">
                        <div><img style="width: 7vw; " src="{% static 'core/images/logo_2.webp'%}" alt=""></div>
                        <div><img style="width: 11vw; " src="{% static 'core/images/logo_3.webp'%}" alt=""></div>
                        <div><img style="width: 9vw; " src="{% static 'core/images/logo_1.webp'%}" alt=""></div>
                    </div>
                    <div class="h2 fw-bold mt-3"  style="color:black;">Bilim University</div>
                </div>
            </div>
            

            
    
        </div>

       
    </div>




    <script>
        const emailField = document.getElementById("email");
        const passwordField = document.getElementById("password");
        const usernameField = document.getElementById("username");
        const registerButton = document.getElementById("registerButton");
        const radioButtons = document.querySelectorAll('input[name="option"]');
       
        function validateForm() {
          const email = emailField.value.trim();
          const password = passwordField.value;
          const username = usernameField.value.trim();
      
         
          const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      

          let isRadioSelected = false;
            radioButtons.forEach((radio) => {
            if (radio.checked) {
                isRadioSelected = true;
            }
            });
         
          if (
            emailRegex.test(email) &&
            password.length >= 8 &&
            username.length >= 4 &&
            isRadioSelected
          ) {
            registerButton.disabled = false;
            registerButton.style.backgroundColor = "#FFA000";
            registerButton.style.cursor = "pointer";
          } else {
            registerButton.disabled = true;
            registerButton.style.backgroundColor = "#C4C4C4";
            registerButton.style.cursor = "not-allowed";
          }
        }
      
   
        emailField.addEventListener("input", validateForm);
        passwordField.addEventListener("input", validateForm);
        usernameField.addEventListener("input", validateForm);
        radioButtons.forEach((radio) => {
            radio.addEventListener("change", validateForm); 
        });
      </script>








    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="https://vjs.zencdn.net/8.5.2/video.min.js"></script>
    <script src="../scripts/script.js"></script>
    <script src="../scripts/video_player.js"></script>
</body>

</html>