{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% translate 'BILIM' %}</title>
  {% include "core/static_files/links.html" %}
</head>

<body>
  {% include "core/hero.html" with content=_("Ваш профиль учитель") image_path="core/images/profile_teacher_image.png" %}
  
  <!-- Textarea -->
  <div class="mx-auto justify-content-between align-items-start" style="width: 90vw;">
    <div class="col-12 mx-auto text-start text-lg-end mt-3">
      <a href='{% url "teacher:teacher_edit" %}'>
        <button class="text-white px-4 py-1 rounded-3 fw-semibold downloader m-1" style="border: none;">
          {% translate 'Редактировать' %}
        </button>
      </a>
      <a href='{% url "teacher:teacher_video_create" %}'>
        <button class="text-white px-4 py-1 rounded-3 fw-semibold downloader m-1" style="border: none;">
          {% translate 'Добавить видео' %}
        </button>
      </a>
      <a href='{% url "teacher:teacher_content" %}'>
        <button class="text-white px-4 py-1 rounded-3 fw-semibold downloader m-1" style="border: none;">
          {% translate 'Мои видео' %}
        </button>
      </a>
      <a href='{% url "videos:create_shorts" %}'>
        <button class="text-white px-4 py-1 rounded-3 fw-semibold downloader m-1" style="border: none;">
          {% translate 'Добавить shorts' %}
        </button>
      </a>
    </div>
    
    <div class="mt-2 row d-block d-md-flex">
      <div class="col-12 col-md-5 col-lg-5 text-center justify-content-center mx-auto text-lg-start align-items-lg-start justify-content-lg-start">
        {% if request.user.user_avatar %}
          <img src="{{ request.user.user_avatar.url }}" alt="" class="img-fluid" style="border-radius: 50px; width: 300px; height: 300px; object-fit: cover;">
        {% else %}
          <img src="" alt="" class="img-fluid" style="border-radius: 50%; width: 300px; height: 300px; object-fit: cover;">
        {% endif %}
      </div>

      <div class="d-flex ms-4 text-lg-center justify-content-center align-items-lg-center col-9 col-md-5 col-lg-5">
        
        <div class="d-flex justify-content-center align-items-center mt-3 mt-md-0">
          
          <div class="row">

            <div class="d-flex flex-wrap justify-content-start mb-4">
              <!-- Display abilities if the teacher has any -->
              {% for user_abilities in request.user.user_abilities.all %}
                  <div class="icon-column d-flex flex-column align-items-center m-2 p-3 border rounded shadow-sm" style="width:35%;">
                      <div class="icon-container d-flex align-items-center justify-content-center mb-2">
                          <i class="{{ user_abilities.ability_icon }} text-primary" style="font-size: 2rem;"></i>
                      </div>
                      <p class="text-center">{{ user_abilities.name }}</p>
                  </div>
              {% empty %}
                  <!-- Display message if no abilities -->
                  <div class="w-100 text-center">
                      <h5>{% translate "Нет информаций. Редактируйте свой профиль" %}</h5>
                  </div>
              {% endfor %}
          </div>

            <div class="d-flex align-items-center pb-3">
              <div class="h5 fw-semibold align-items-center">
                <i class="bi bi-person-fill me-2 text-primary"></i>{% translate 'Имя' %}: 
                <span class="ms-1">{{ request.user.username }}</span>
              </div>
            </div>
            <div class="d-flex align-items-center pb-3">
              <div class="h5 fw-semibold align-items-center">
                <i class="bi bi-briefcase-fill me-2 text-success"></i>{% translate 'Работа' %}: 
                <span class="ms-1">{% if request.user.job %}{{ request.user.job }}{% else %} {% translate 'Нет информаций.' %} {% endif %}</span>
              </div>
            </div>
            <div class="d-flex align-items-center pb-3">
              <div class="h5 fw-semibold align-items-center">
                <i class="bi bi-telephone-fill me-2 text-danger"></i>{% translate 'Телефонный номер ' %}: 
                <span class="ms-1">{% if request.user.telephone_number %}{{ request.user.telephone_number }}{% else %} {% translate 'Напишите свой номер' %} {% endif %}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "core/footer.html" %}
  {% include "core/static_files/scripts.html" %}
</body>

</html>
