{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BILIM Teachers profile</title>
  {% include "core/static_files/links.html"%}
 
</head>
<body>
  {% include "core/hero.html" with content="View your profile teacher" image_path="core/images/report.webp"%}
<!-- Textarea -->
<div class=" text-center mx-auto" style="width: 90vw;">
    <hr class="p-1">
</div>
<div class="mx-auto  justify-content-between align-items-start" style="width: 90vw;">
      <div class="col-12 mx-auto text-start text-lg-end">
        <a href='{% url 'teacher:teacher_edit'%}'><button class="text-white px-4 py-1 rounded-3 fw-semibold downloader" style="border: none;">Edit</button></a>
        <a href='{% url 'teacher:teacher_video_create'%}'><button class="text-white px-4 py-1 rounded-3 fw-semibold downloader" style="border: none;">Add video</button></a>
        <a href='{% url 'teacher:teacher_content'%}'><button class="text-white px-4 py-1 rounded-3 fw-semibold downloader" style="border: none;">My videos</button></a>
      </div>
    <div class="mt-2 row d-flex ">
        <div class="col-8 col-lg-3 text-center justify-content-center mx-auto text-lg-start align-items-lg-start justify-content-lg-start ">
            <img class="col-12 col-md-9  text-lg-start align-items-lg-start" src="{% if request.user.user_avatar %}{{ request.user.user_avatar }}{% else %}{% static "core/images/default_profile_image.png"%}{% endif %}" alt="" style="object-fit: cover">
        </div>
        <div class="d-block col-lg-8 ms-4 text-lg-center justify-content-center align-items-lg-center col-9">
            <div class="d-flex row w-75">
                <div class="col">
                    <div class=" d-flex align-items-center pb-3">
                        <div class="h5 fw-semibold">Nickname:</div>
                    </div>
                    <div class=" d-flex align-items-center pb-3">
                        <div class="h5 fw-semibold">Job:</div>
                    </div>
                    <div class=" d-flex align-items-center ">
                        <div class="h5 fw-semibold">Phone number:</div>
                    </div>
                </div>
                <div class="col">
                    <div class=" d-flex align-items-center pb-3 ">
                        <div class="h5 text ms-1">{{request.user.username}}</div>
                    </div>
                    <div class=" d-flex align-items-center pb-3  ">
                        <div class="h5 text ms-1">{% if request.user.job %} {{request.user.job}} {% else %} Edit your job... {% endif %} </div>
                    </div>
                    <div class=" d-flex align-items-center pb-3  ">
                        <div class="h5 text ms-1">{% if request.user.telephone_number %} {{request.user.telephone_number}} {% else %} Edit your number... {% endif %} </div>
                    </div>
                </div>
               
               
               
            </div>
        </div>
    </div>
    
</div>
{% include "core/footer.html"%}
{% include "core/static_files/scripts.html"%}
</body>

</html>