{% load i18n %}
{% load static %}
{% for user in users %}
              <div class="pb-4 mx-auto" data-aos="zoom-in" data-aos-duration="2000">
                  <div class="image-wrapper shadow rounded-5 text-center p-3">
                      {% if user.user_avatar %}
                          <img class="img-fluid hover-img rounded-5" style="height:350px;" src="{{ user.user_avatar.url }}" alt="{% translate 'Фото пользователя' %}">
                      {% else %}
                          <img class="img-fluid hover-img rounded-5" style="height:350px; object-fit:cover;" src="{% static 'core/images/default_profile_image.png' %}" alt="{% translate 'Аватар' %}">
                      {% endif %}

                      <div class="h5 pt-2 fw-medium" style="color: #1C59A1;">
                          {% if user.is_student %}{% translate 'Студент' %}{% elif user.is_teacher %}{% translate 'Учитель' %}{% endif %}: {{ user.username }}
                      </div>

                      <div class="pb-4 fw-medium">
                          {% if user.about_me %}{{ user.about_me }}{% else %}{% translate 'Нет информаций' %}{% endif %}
                      </div>

                      <!-- Centered Buttons -->
                      <div class="d-flex justify-content-between align-items-center">
                          <a href="{% url 'users:exact_user' user.id %}" class="btn downloader">{% translate 'Профиль' %}</a>
                          {% if request.user != user %}
                          <a href="{% url 'users:follow' user.id %}" 
                             class="btn downloader subscribeBtn" 
                             data-user-id="{{ user.id }}">
                              {% if request.user in user.followers.all %}
                                  {% translate 'Подписан' %}
                              {% else %}
                                  {% translate 'Подписаться' %}
                              {% endif %}
                          </a>
                      {% endif %}
                      
                      </div>
                  </div>
              </div>
          {% endfor %}