* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #000;
}
/* Video Container Styles */
.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#video-thumbnails {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin-top: 40px;
}

.thumbnail {
    position: relative;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.video-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.video-info h3 {
    margin: 0;
}

.video-info p {
    margin-top: 5px;
    font-size: 0.9rem;
}