body {
    margin: 0;
    scroll-behavior: smooth;
}



/* .section {
    position: sticky;
    top: 1%;
    transform: translateY(50px);
    z-index: 1;
    transition: 0.5s ease, opacity 0.5s ease;
} */

.section {
    position: sticky;
    top: 0; /* Stick to top */
    height: 100vh; /* Ensure it covers the viewport */
    transform: translateY(0); /* Reset previous transform */
    z-index: 1;
    transition: 0.5s ease, opacity 0.5s ease;
}


.section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 2;
    pointer-events: none;
    border-radius: 8px;
}

.section.past::before {
    opacity: 1;
}
